body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
}

.square {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  display: block;
  float: left;
  margin: 0;
}

.selected {
  border: solid 5px #FFF;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.3);
}

.selected::before {
  position: absolute;
  content: '';
  background-image: url('./images/knight.png');
  background-repeat: no-repeat;
  background-size: 150px 300px;
  background-position: -20% 0%;
  /* background: rgba(0,0,0, 0.5); */
  width: 200px;
  height: 300px;
  pointer-events: none;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(135deg);
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.grid-box {
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-135deg);
}

.woods {
  background-image: url('./images/forest.jpeg');
}

.mountain {
  background-image: url('./images/mountain.jpeg');
}

.field {
  background-image: url('./images/kh.jpeg');
}

.swamp {
  background-image: url('./images/swamp.jpeg');
}

.castle {
  background-image: url('./images/castle.jpeg');
}

.new-char-avatar {
  width: 30%;
}

.big-corner-char {
  transform: scaleX(-1);
  width: 100%;
}

.corner-char-box {
  width: 35%;
  height: 40vh;
  position: absolute;
  bottom: 0;
  left: -2%;
  overflow: hidden;

}
